{% extends "base.html" %}
{% block content %}
  <form   method="POST">
    {{form.hidden_tag()}}
      <div style="border-radius:50px;background-color:#f2f2f2;padding:60px;">
              <div class="form-group mx-sm-3 mb-2">
        {{form.email(class="form-control", placeholder="email")}}
      </div>
      <div class="form-group mx-sm-3 mb-2">
        {{form.password(class="form-control", placeholder="Password")}}
      </div>
        <div class ="d-flex justify-content-center">
        {{form.submit(class="btn btn-primary mb-2 ")}}
        </div>
      </div>
    </form>

{% endblock %}
